@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;


}

body {
    font-family: "Sora", sans-serif;
    background-color: #efefef;

    color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;

    width: 368px;
    padding: 16px;
    border: none;
    border-radius: 15px;

    box-shadow: 4px 4px 5px 6px rgba(158, 158, 158, 0.33);
    background-color: #fff;
}

img {
    max-width: 336px;
    border: none;
    border-radius: 15px;

}

#tag {
    font-family: 600;
    font-size: 10px;
    padding: 5px 24px;
    border: none;
    border-radius: 15px;
    background-color: #1e1e1e;
    color: #efefef;
    align-self: flex-start;
}

p {
    font-family: 14px;

}

#nome {
    font-family: 400;

}